<!DCOTYPE html>
<html>
  <head>
    <title>Jovian Career</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

<style>
  #banner{
    width:100%;
    height:320px;
    object-fit:cover;
    
  }
  .btn-brown{
    color:white;
    background-color:#673908;
  }
  .btn-brown:hover{
     color:white;
    background-color:#5E3103 ;
  }
</style>
    
  </head>
  
  <body>
    <img src="https://images.unsplash.com/photo-1497032628192-86f99bcd76bc?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="img-fluid" id="banner" >
    <div class='container' >
  <h1 class="text-center mt-4 mb-4" >Jovian Career</h1>
    
    <h2 class="text-center mt-2 mb-2">About Us</h2>
    <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad, exercitationem non illo doloribus quidem dolor ipsum, illum laboriosam aspernatur ducimus quas distinctio, itaque neque est earum dicta vero porro aliquid? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad, exercitationem non illo doloribus quidem dolor ipsum, illum laboriosam aspernatur ducimus quas distinctio, itaque neque est earum dicta vero porro aliquid? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad, exercitationem non illo doloribus quidem dolor ipsum, illum laboriosam aspernatur ducimus quas distinctio, itaque neque est earum dicta vero porro aliquid? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad, exercitationem non illo doloribus quidem dolor ipsum </p>

    <h2 class="text-center mt-2 mb-2">Open Positions</h2>

      
    <p>
      {%for job in jobs%}
      {% include 'jobhtml.html'%}
      {%endfor%}
    </p>

      
      <div class="text-center">
    <button class="btn btn-brown btn-lg">Contact Us</button>
        <p class="mt-4">Copyright 2024, Fikir</p>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>